
.contact-info {
  padding: 20px;
  margin: 40px;
}

.contact-form-content {
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
  justify-content: center;
}

.form-class {
}