{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='add_contact.css') }}">
  <!-- Sign in form -->
  <section class="contact-info">
    <div class="container">
      <div class="contact-form-content">
        <div class="signin-form">
          <h2 class="form-title">Contact Info</h2>
          <form class="form-class" method="POST" class="register-form" id="login-form" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
              <label for="fname"><i class="zmdi zmdi-account material-icons-name"><img src="{{ url_for('static', filename='images/person-icon.png') }}" class="icon"></i></label>
              {{ form.first_name(class='form-input', type="name", id="fname", placeholder="Contact's first name") }}
              {% if form.first_name.errors %}
                <div class="invalid-feedback">
                  {% for error in form.first_name.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="lname"><i class="zmdi zmdi-account material-icons-name"><img src="{{ url_for('static', filename='images/person-icon.png') }}" class="icon"></i></label>
              {{ form.last_name(class='form-input', type="name", id="lname", placeholder="Contact's last name") }}
              {% if form.last_name.errors %}
                <div class="invalid-feedback">
                  {% for error in form.last_name.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="phone"><i class="zmdi zmdi-email"></i><img src="{{ url_for('static', filename='images/phone-icon.png') }}" class="icon"></label>
              {{ form.phone(class='form-input', type="phone", id="phone", placeholder="Phone number") }}
              {% if form.phone.errors %}
                <div class="invalid-feedback">
                  {% for error in form.phone.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="birthday"><i class="zmdi zmdi-email"></i><img src="{{ url_for('static', filename='images/calendar-icon.png') }}" class="icon"></label>
              {{ form.birthday(class='form-input', type="date", id="birthday", placeholder="Birthday") }}
              {% if form.birthday.errors %}
                <div class="invalid-feedback">
                  {% for error in form.birthday.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="form-group"></div>
              <label for="interest"><i class="zmdi zmdi-account material-icons-name"><img src="{{ url_for('static', filename='images/person-icon.png') }}" class="icon"></i></label>
              {{ form.interests(class='form-input', type="text", id="interest", placeholder="Likes and hobbies") }}
            </div>
            <div class="form-group form-button">
              {{ form.submit(type="submit", class="form-submit", value="Add") }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}