{% extends 'layout.html' %}
{% block content %}
  <main>
    <link rel="stylesheet" href="{{ url_for('static', filename='features.css') }}">
    <div class="welcome-container">
      <h1 class="welcome-title"><span>Stay Connected With Your Loved Ones</span></h1>
      <p class="message">Our relationship manager app helps you nurture your relationships by reminding you to check up on your contacts and suggesting thoughtful gestures to show you care.</p>
      <div class="welcome-buttons">
        <button class="general-button">Download Now</button>
        <button class="general-button">Learn More</button>
      </div>
    </div>
    <div class="features-section">
      <div class="features-container">
        <div class="features-column">
          {% for feature in features%}
            <div  class="feature-1">
              <div class="feature-bar">
                <div class="feature-bar-inner"></div>
              </div>
              <div class="feature-content">
                <h2 class="feature-title">{{ feature['title'] }}</h2>
                <span class="feature-description">{{ feature['description'] }}</span>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="feature-image-container">
          <img src="{{ url_for('static', filename='images/features-image.jpeg') }}" alt="" class="features-image">
        </div>
      </div>
    </div>
  </main>
{% endblock %}